.sun-icon {
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 20px;
    cursor: pointer;
}

.moon-icon {
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 20px;
    cursor: pointer;
}